# Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

# Ignore dist & output folders, except for the final .exe files
dist/
output/
!dist/AllTubeDownloader.exe
!output/AllTubeDownloaderSetup.exe

# Ignore user config and history files (optional)
download_history.json
user_config.json
